{% extends "layout.html" %}
{% block body %}
	<div class="page-header">
		<h1>System Design</h1>
	</div>
	
	<div class="centered">
		<p>We created a cheap mechanical instrument that can play itself.  Our goal was to create a violin-like instrument for less than $250 total cost.  We designed our project as an initial prototype of a full open-source robotic string instrument framework.  Subsystem overviews can be found below, and a bill of materials, drawing package, schematic, and source code can be found at the bottom of this page.</p>
	</div>

	<div class="accordion" id="design_accordion">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#design_accordion" href="#collapseZero">
				System Overview
				</a>
			</div>
			<div id="collapseZero" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="panel panel-default">
						<h3>System Diagrams</h3>
						<p>This is an overview of our overall main system diagram:</p>
						<img class="picture" src = "{{ url_for('static', filename='images/system_diagram.JPG')}}"/>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#design_accordion" href="#collapseOne">
				Mechanical Subsystem
				</a>
			</div>
			<div id="collapseOne" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="panel panel-default">
						<h3>Mechanical Overview</h3>
						<p>We used an iterative design process to get from a single string-winding assembly to an full musical instrument.  An overview of our process is below, a full drawing package is at the bottom.</p>
						<img class="picture" src = "{{ url_for('static', filename='images/WindingRender.jpg')}}"/>
						<p>This is our very first (alpha) revision, put together a week after beginning the project to examine common pitfalls immediately.  Notable flaws included lack of a dedicated motor mount, and a poor design for torque transmission.</p>
						<img class="picture" src = "{{ url_for('static', filename='images/wind-assy.png')}}"/>
						<p>This is our next prototype of our winding mechanism, addressing the main pitfalls of the first revision.  Major changes are a dedicated encoder mount to allow for counting of revolutions (and therefore tune of the string), the addition of a key for better torque transfer from the drive gear to the string hub, and an idler gear to resist cantilevering of the worm.</p>
						<img class="picture" src = "{{ url_for('static', filename='images/system_render_1.JPG')}}"/>
						<p>This is our overall body of our string instrument. It includes four winding mechanisms included and our new bridge design.</p>
						<img class="picture" src = "{{ url_for('static', filename='images/system_render_2.png')}}"/>
						<p>This is our first assembly of the mechanical system. Our bow is just a thick piece of wood at this point, and we do not yet include a motor to drive the bow wheel.</p>
						<img class="picture" src = "{{ url_for('static', filename='images/FinalAssembly.png')}}"/>
						<p>This is our final assembly of the mechanical system.  From the last prototype, we added reinforcement to the rear string support to prevent deformation of the back panel when under load.  We also included a horsehair braid over an acrylic wheel as our bow.  This prototype also includes the drive system for the wheel integrated within the body.  The final major change involves changing the pulldown mechanism such that it's supported on both ends to avoid cantilevered loads.</p>
						<h3>Assembly Videos</h3>
						<h4>String Winding Subassembly</h4>
						<iframe class="youtube" src="//www.youtube.com/embed/UeXmjC2wE74?rel=0" frameborder="0" allowfullscreen></iframe>
						<h4>String Pulldown Subassembly</h4>
						<iframe class="youtube" src="//www.youtube.com/embed/lzFDwtuOjtg?rel=0" frameborder="0" allowfullscreen></iframe>
						<h4>Bow Wheel Subassembly</h4>
						<iframe class="youtube" src="//www.youtube.com/embed/mrIRs8rpRZ0?rel=0" frameborder="0" allowfullscreen></iframe>
						<h4>Full Assembly</h4>
						<iframe class="youtube" src="//www.youtube.com/embed/vy9g1K3xz4E?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#design_accordion" href="#collapseTwo">
				Electrical Subsystem
				</a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner">
					<h3>Electrical Overview</h3>
					<p>The electrical system was a simple combination of three protoboards: Audio output, and two board with H-bridges. The H Bridges were Texas Instruments L293D, and one bridge was dedicated to each of our five motors: </p>
					<img class="picture" src = "{{ url_for('static', filename='images/H Bridge-01.jpg')}}"""/>
					<p>The Audio board was focused on clean amplification of the audio input signal. The circuit used buffer capacitors to protect the audio circuit in case of a voltage spike from the power supplies, and a bypass capacitor to protect our circuit from voltages spikes and noise inherit to the motor cicuitry.</p>
					<img class="picture" src = "{{ url_for('static', filename='images/Schematic.jpg')}}"""/>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#design_accordion" href="#collapseThree">
				Software Subsystem
				</a>
			</div>
			<div id="collapseThree" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="panel panel-default">
						<h3>Software Overview</h3>
						<p>Software was implemented on the Arduino Mega in order to control the servos, tension motors and bow motor.</p>
						<img class="picture" src = "{{ url_for('static', filename='images/softwareSys.PNG')}}"/>
						<p> Before running, the user selects a song from a list of booleans and compiles the sketch to run on the robotic violin as shown in the image below. This code is then loaded onto the robotic violin through the USB cable to the Arduino Mega.</p>
						<div class="centered">
							<img class="code-sample" src = "{{ url_for('static', filename='images/songs.PNG')}}"/>
						</div>
						<p>We used the encoders to record the relative positions of notes for each string. When playing, the encoders also give feedback on the motors' positions. We used <a href="https://github.com/medecau/QuadEncoder">medecau's library</a> for the rotary encoders.</p>
						<div class="centered">
							<img class="code-sample" src = "{{ url_for('static', filename='images/quadencoders.PNG')}}"/>
						</div>
						<p>For each song, actions necessary for the robotic violin were listen. Each note was commented. For example, as seen in the image below, for the starting A of Twinkle, the following actions had to occur:</p>
						<ul>
							<li>The bow needed to be started and all strings moved out of contact with the bow</li>
							<li>The A string servo had to push the string into contact with the moving bow</li>
							<li>The A string had to be played for a specified amount of time</li>
							<li>The A string servo had to lift up the string out of contact with the moving bow</li>
						</ul>
						<div class="centered">
							<img class="code-sample" src = "{{ url_for('static', filename='images/song.PNG')}}"/>
						</div>
						<p>Each of the functions were named as plainly as possible in order to avoid confusion. An example of the StartSong function, which starts the bow moving and moves all the strings out of contact with the bow, is such an example.</p>
						<div class="centered">
							<img class="code-sample" src = "{{ url_for('static', filename='images/sameFunc.PNG')}}"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#design_accordion" href="#collapseFour">
				Source Files
				</a>
			</div>
			<div id="collapseFour" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="panel panel-default">
						<h3>Bill of Materials</h3>
						<p><a href="{{ url_for('static', filename='PDFs/LT3-BoM.pdf') }}">Bill of Materials</a></p>
						<h3>Drawing Package</h3>
						<p><a href="{{ url_for('static', filename='PDFs/LT3-DrawingPackage.pdf') }}">Conventionally Machined Parts</a></p>
						<p><a href="{{ url_for('static', filename='PDFs/LT3-CUTFILE.AI') }}">Laser Cutfile</a></p>
						<h3>Schematics</h3>
						<p><a href="{{ url_for('static', filename='PDFs/LT3-schematic.pdf') }}">Full Schematic</a></p>
						<h3>Source Code</h3>
						<p><a href="{{ url_for('static', filename='ProjectCode/ArduinoCode.zip') }}">Source Code</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}