{% extends "layout.html" %}
{% block body %}
	<h1>LOONEY TUNES</h1>
	<h5>Principles of Engineering</h5>
	<h5>Fall 2013</h5>
	<img class="picture" src = "{{ url_for('static', filename='images/LooneyTunes.jpg')}}" />
	<!-- <button type="button">Click Me!</button> -->
	<!-- <div class="row-fluid">
		<div class="span9">
			Twinkle Twinkle Little Star
			<a class="btn btn-primary btn-large">
				Twinkle Twinkle Little Star
			</a>
		</div>
	</div> -->

	<!-- <button type="button" onclick="JavaScript:alert('Once upon a time, there lived Tweety, Daffy Duck, Taz, Bugs Bunny, and Elmer Fudd. The created an awesome instrument and it works. The end.')">
		<img src="Tweety.jpg" alt="Click Me!" />
		<br />Click Me!
	</button> -->

	<!-- <form method="link" action="http://127.0.0.1:5000/timeline">
		<input type="submit" value="Timeline">
	</form> -->
	<div>

	<form>
		<input type="button" value="Twinkle Twinkle Little Star" onclick="window.location.href='http://127.0.0.1:5000/timeline'">
	</form>

	<form>
		<input type="button" value="Happy Birthday" onclick="window.location.href='http://127.0.0.1:5000/team'">
	</form>

	<form>
		<input type="button" value="Star Wars" onclick="window.location.href='http://127.0.0.1:5000/design'">
	</form>
	</div>

	<p id="paragraph">We need a main title, an awesome way to choose from different songs, possibly a way for people to create their own songs?, and also maybe some cute pictures?</p>
{% endblock %}

