<!DOCTYPE HTML>
<html>
<head>
	<title>LooneyTunes</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.9.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<p>Left span</p>
			</div>
			<div class="span6">
				<div class="navbar">
				  <div class="navbar-inner">
				    <a class="brand" href="#">LooneyTunes</a>
				    <ul class="nav">
				      <li class="active"><a href="#">Home</a></li>
				      <li><a href="#">Link</a></li>
				      <li><a href="#">Link</a></li>
				    </ul>
				  </div>
				</div>
				<div>
					<p>Hello, world!</p>
				</div>

				{% block body %}
				{% endblock %}
			</div>
			<div class="span3">
				<p>Right span</p>
			</div>
		</div>
</body>
</html>