{% extends "layout.html" %}
{% block body %}

	<div class="page-header">
		<h1>Team Member Reflections</h1>
	</div>
	
	<div class="centered">
		<p>Individual reflections on the overall project.</p>
	</div>

	<div class="accordion" id="design_accordion">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#design_accordion" href="#collapseZero">
				Philicia Chow
				</a>
			</div>
			<div id="collapseZero" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="panel panel-default">
						<div id="reflectionPics">
							<img class="picture" src = "{{ url_for('static', filename='images/Tweety.jpg')}}"/>
						</div>
						<h5>Philicia Chow</h5>
						<p>This project has been a blast for me. In the beginning, I did not really have an idea of what project to work on. But since I was also interested in doing something related to music, it seemed plausible to head in that direction when finding others who also had the same interests.</p>
						<p>In terms of the basic overall experience, there was little difference in what I had already known about working on a team in a project of this scope. As Project Manager, I made sure that my team mates were on task during meetings and that none of the subsystem teams were doing things that would create conflict with the other subsystems. This required basic understanding of the entire system, as I would advise any Project Managers to take note of.</p>
						<p>In perspective, I am pretty proud of our team and what we have accomplished within this past half of a semester. Some of my advice for future PoE teams would be:
							<ul>
								<li>Assess your team members' strengths and weaknesses and act upon them accordingly. Make sure everyone on the team is happy with what they are doing and are displaying their technical expertises within the project. But also make sure each member challenges himself/herself. And most of all, have fun during meetings and while working on the project.</li>
								<li>Start with the big picture of what your project goals are and then go into the details of each subsystem. This will save your team a lot of time and arguements. Once the entire team understands what the major goals are and what are the major subsystems that need to be worked on, the details will naturally follow.</li>
								<li>Iterate early and iterate as much as you can. Don't be afraid to change things up, because it might just end up being the solution to your problem. Just be careful that all team members know what you're changing and how.</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#design_accordion" href="#collapseOne">
				Allie Duncan
				</a>
			</div>
			<div id="collapseOne" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="panel panel-default">
						<div id="reflectionPics">
							<img class="picture" src = "{{ url_for('static', filename='images/DuffyDuck.jpg')}}"/>
						</div>
						<h5>Allie Duncan</h5>
						<p>Reflection reflection blah blah blah. My name is Daffy Duck not Duffy Duck.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#design_accordion" href="#collapseTwo">
				Chris Joyce
				</a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="panel panel-default">
						<div id="reflectionPics">
							<img class="picture" src = "{{ url_for('static', filename='images/Taz.jpeg')}}"/>
						</div>
						<h5>Chris Joyce</h5>
						<p>In addition to the engineering expertise, I learned a few really useful things about similarly-scoped projects that I'd like to pass on to anyone who might attempt a similar project in the future.
							<ul>
							<li>First, prototype early and often.  It is far better to admit that you haven't yet thought of a mechanism for one specific part of the system and get a revision out with other parts that are thought of than delay while you wait to have something that is 'theoretically' perfect.</li>
							<li>Second, be very afraid of the unknown.  We attempted to use a BeagleBone Black as our microcontroller, and it was a very bad decision.  It was finicky, barely worked, and needed 1-2 hours of reflash time every time it crashed.  Conventional wisdom is often that way because a lot of people have already made the same mistake you're about to.</li>
							<li>Finally, very little is more important than team dynamics and working well as a team -- except for having fun while you work, and the two often go hand in hand.  We were all willing to put in large amounts of time outside of class -- often on the weekends -- because our meetings usually had a component of fun in them.  This also helped us deal with adversity; no one ever got shirty with anyone else, even when we were all frustrated.  Working with your friends doesn't always work well, but when it does, it works <i>really</i> well.</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#design_accordion" href="#collapseThree">
				Kyle McConnaughay
				</a>
			</div>
			<div id="collapseThree" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="panel panel-default">
						<div id="reflectionPics">
							<img class="picture" src = "{{ url_for('static', filename='images/BugsBunny.jpg')}}"/>
						</div>
						<h5>Kyle McConnaughay</h5>
						<p>Reflection reflection blah blah blah.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#design_accordion" href="#collapseFour">
				Kevin O'Toole
				</a>
			</div>
			<div id="collapseFour" class="accordion-body collapse">
				<div class="accordion-inner">
					<div class="panel panel-default">
						<div id="reflectionPics">
							<img class="picture" src = "{{ url_for('static', filename='images/ElmerFudd.jpg')}}"/>
						</div>
						<h5>Kevin O'Toole</h5>
						<p>Reflection reflection blah blah blah.</p>
					</div>
				</div>
			</div>
		</div>
	</div>	

{% endblock %}