{% extends "layout.html" %}
{% block body %}
	<div class="page-header">
		<h1>Team Members</h1>
	</div>
	
	<div class="centered">
		<p id="paragraph">Team subgroups were divided based on each member's interests and desire to improve in certain aspects of the project. Additionally, we ensured that any particular expertise was contributing to the appropriate subsystems.</p>
	<div>

	{% for person in team %}
	<div class="memberProfile">
		<h3>{{person["name"]}}</h3>
		<img src = "{{ url_for('static', filename=person['thumb'])}}" />
		<h4>{{person["role"]}}</h4>
		<p>{{person["bio"]}}</p>
		<p>{{person["technical"]}}</p>
		<a href = "mailto:{{person["email"]}}">Email</a>
	</div>
	{% endfor %}
	
{% endblock %}